<div class="card">
	<div class="card-body">

		<SearchProductInventoriesComponent OnInventorySelected="HandleInventorySelected" />

		@if (Product is not null && Product.ProductInventories is not null && Product.ProductInventories.Any())
		{
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Quality</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var prodInventory in Product.ProductInventories)
					{
						<tr>
							<td>@prodInventory.Inventory?.InventoryName</td>
							<td>
								<input type="number" min="0" @bind-value="prodInventory.InventoryQuantity" />
							</td>
							<td>
								<button type="button" class="btn btn-link" @onclick="()=> RemoveInveotry(prodInventory)">Remove</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}

	</div>
</div>

@code {
	[Parameter]
	public Product? Product { get; set; }

	private void RemoveInveotry(ProductInventory productInventory)
	{
		Product?.RemoveInventory(productInventory);
	}

	private void HandleInventorySelected(Inventory inventory)
	{
		Product?.AddInventory(inventory);
	}
}
