@page "/produce"
@attribute [Authorize(Policy = "Productions")]
@rendermode InteractiveServer


@inject IViewProductsByNameUseCase _ViewProductsByNameUseCase
@inject IViewProductByIdUseCase _ViewProductByIdUseCase
@inject IProduceProductUseCase _ProduceProductUseCase
@inject IJSRuntime _JSRuntime
@inject AuthenticationStateProvider _AuthenticationStateProvider

<PageTitle>Produce Product</PageTitle>

<h3>Produce Product</h3>
<br />



<EditForm id="produce-form" Model="produceViewModel" OnValidSubmit="Produce">
	<DataAnnotationsValidator />

	<div class="form-group">
		<label for="po">Production #</label>
		<InputText id="po" @bind-Value="produceViewModel.ProductionNumber" class="form-control" />
		<ValidationMessage For="()=> produceViewModel.ProductionNumber"></ValidationMessage>
	</div>


	<div class="card">
		<div class="card-body">
			<div class="form-group">
				<ValidationMessage For="()=> produceViewModel.ProductId"></ValidationMessage>
				<AutoCompleteComponent Label="Produce a product" SearchFunction="SearchProduct" OnItemSelected="HandleItemSelected" />
			</div>
		</div>
	</div>

	<br />

	<div class="form-group">
		<label for="qty">Quantity</label>
		<InputNumber id="qty" @bind-Value="produceViewModel.QuantityToSell" class="form-control" />
		<ValidationMessage For="()=> produceViewModel.QuantityToSell"></ValidationMessage>
	</div>

	<br />

	<button type="submit" class="btn btn-primary">produce</button>
</EditForm>



@code {
	ProduceViewModel produceViewModel = new();

	Product? selectedProduct;

	AuthenticationState? authState;

	protected override async Task OnInitializedAsync()
	{
		authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await _JSRuntime.InvokeVoidAsync("preventFormSubmission", "produce-form");
		}
	}

	private async Task<List<ItemViewModel>?> SearchProduct(string name)
	{
		var list = await _ViewProductsByNameUseCase.ExecuteAsync(name);

		if (list == null) return null;

		return list.Select(_ => new ItemViewModel { Id = _.Id, Name = _.Name })?.ToList();
	}

	private async Task HandleItemSelected(ItemViewModel item)
	{
		selectedProduct = await _ViewProductByIdUseCase.ExecuteAsync(item.Id);

		produceViewModel.ProductId = item.Id;
		produceViewModel.Product = selectedProduct;
		// produceViewModel.InventoryPrice = selectedProduct.Price;
	}

	private async Task Produce()
	{
		string userName = string.Empty;

		if (authState?.User?.Identity?.IsAuthenticated ?? false)
			userName = authState.User.Identity.Name ?? string.Empty;

		await _ProduceProductUseCase.ExecuteAsync(produceViewModel.ProductionNumber, selectedProduct, produceViewModel.QuantityToSell, userName);

		produceViewModel = new();
		selectedProduct = null;
	}
}
